doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http:/javascripts/global.js')
    script(src='http:/javascripts/underscore-min.js')
    script(src='http:/javascripts/moment.min.js')
    script(src='http:/javascripts/gowiththeflow.js')
    script(src='http:/javascripts/highcharts.js')
