body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nickName {
    font-size: large;
}

#faults {
    position: relative;
    top: -300px;
}

#displayHeat {
	position: relative;
	left: 150px;
	top: -95px;
}

#tableSensor {
	position: relative;
	top: -180px;
	left: 350px;
}

#chart1 {
	position: relative;
	top: -250px;
}

a {
  color: #00B7FF;
}
